---
layout: page
---

<!--
  add /help - why? why not?
-->



<h2>{{ site.title }}</h2>

<p>
  Inside News About The Billion $$$
  Pixel Art Blockchain Token Con-Artist Fraud.
  All About Matt &amp; John's® Punks And Much More.
</p>




{% assign last_week = '00' %}

{% for post in site.posts %}

  {% assign week = post.date | date: '%W' %}

  {% if last_week != week  %}
      <h1>Punk Week {{ post.date | date: '%W/%Y'  }}</h1>
  {% endif %}
  {% assign last_week = week %}


  <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>

  <div>
    <p style="font-size: 80%; ">
      {% assign day = page.date | date: "%-d"  %}
      {{ post.date | date: '%A, %B' }}
      {% case day %}
        {% when '1' or '21' or '31' %}{{ day }}st,
        {% when '2' or '22' %}{{ day }}nd,
        {% when '3' or '23' %}{{ day }}rd,
        {% else %}{{ day }}th,
      {% endcase %}
      {{ page.date | date: "%Y" }}
    </p>

  <!-- excerpt -->
  {{ post.excerpt }}

  <p>
    <a href="{{ post.url | relative_url }}"><b>[Read More&hellip;]</b></a>
  </p>
  <hr>
</div>
{% endfor %}



<h2>
  Questions? Comments?
</h2>
<p>
  Post them on the
  <a href="https://old.reddit.com/r/CryptoPunksDev">CryptoPunksDev reddit</a>. Thanks.
</p>

