---
layout: page
---

<!--
  add /help - why? why not?
-->


<p>
  Inside News About The Billion $$$
  Pixel Art Blockchain Token Con-Artist Fraud.
  All About Matt &amp; John's® Punks And Much More.
</p>

<h2>{{ site.title }}</h2>




{% assign last_week = '00' %}

{% for post in site.posts %}

  {% assign week = post.date | date: '%W' %}

  {% if last_week != week  %}
      <h1>Punk Week {{ post.date | date: '%W/%Y'  }}</h1>
  {% endif %}
  {% assign last_week = week %}


  <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>

  <div>
    <span style="font-size: 80%;">{{ post.date | date: '%A - %B %-d, %Y' }}</span><br>

  <!-- excerpt -->
  {{ post.excerpt }}

  <p>
    <a href="{{ post.url | relative_url }}"><b>[Read More&hellip;]</b></a>
  </p>
  <hr>
</div>
{% endfor %}



<h2>
  Questions? Comments?
</h2>
<p>
  Post them on the
  <a href="https://old.reddit.com/r/CryptoPunksDev">CryptoPunksDev reddit</a>. Thanks.
</p>

