---
layout: page
---

<!--
  add /help - why? why not?
-->


<p>
  Inside News About The Billion $$$
  Pixel Art Blockchain Token Con-Artist Fraud.
  All About Matt &amp; John's® And Much More
</p>



{% assign last_week = '00' %}

{% for post in site.posts %}

  {% assign week = post.date | date: '%W' %}

  {% if last_week != week  %}
      <h2>Punk Week {{ post.date | date: '%W/%Y'  }}</h2>
  {% endif %}
  {% assign last_week = week %}


<div>
  <p>
   <a href="{{ post.url | relative_url }}"><b>{{ post.title }}</b></a>
  </p>

  <p>
    <!-- add exceprt -->
  </p>

</div>
{% endfor %}



